---
sudo: required
dist: trusty

matrix:
  include:
    - env: ANSIBLE_VERSION=2.1.0

before_install:
 - sudo apt-get -y install software-properties-common
 - sudo apt-get -y install python-pip
 - sudo pip install ansible==$ANSIBLE_VERSION
 - ansible --version

script:
 - ansible-galaxy install -r requirements.yml -p roles/
 - ansible-playbook -i inventory --connection=local --sudo -v deploy.yml

notifications:
  webhooks: https://galaxy.ansible.com/api/v1/notifications/ 